/* #region Defaults */

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 0.9em;
    line-height: 1.4em;
}
/* #endregion */

/* #region Top Bar */
.topBar {
    /* background-color: gray; */
    margin: 0px 20px;
}

.topBarTopHalf {
    display: flex;
    align-items: center;
    gap: 20px;
}

.inputContainerParent {
    flex: 1;
} /* the flex item containing the input elements */

.inputContainer {
    position: relative;
    max-width: 762px;
} /* the container for positioning the input elements */

.searchField {
    height: 38px;
    border-radius: 100px;
    width: 100%;
}

.searchButtons {
    display: flex;
    position: absolute;
    top: 11px;
    right: 20px;
    gap: 17px;
}

.searchButtonSingle {
    background-image: url("https://cdn-icons-png.flaticon.com/512/61/61088.png");
    width: 27px;
    height: 27px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0px;
    cursor: pointer;
}

#searchButtonX {
    background-image: url("https://cdn-icons-png.flaticon.com/512/75/75519.png");
}

#searchButtonMic {
    background-image: url("https://cdn-icons-png.flaticon.com/512/25/25682.png");
}

.topBarBotHalf {
    display: flex;
    margin-left: 160px;
    gap: 60px;
}

.topBarTabs {
    display: flex;
    gap: 10px;
}

.logo {
    width: 130px;
}

.topRightButton {
    width: 25px;
}

#profilePic {
    border-radius: 100px;
    width: 35px;
}
/* #endregion */

/* #region Search Results Section */
.searchResults {
    max-width: 650px;
    margin-left: 180px;
}

.searchResultSingle {
    margin: 20px 0px;
}

.searchResults h2 {
    margin: 0;
}

.searchResults p {
    margin-top: 5px;
}

.searchResultMainLink {
    text-decoration: none;
}

.searchResultMainLink span {
    color: black;
}

.searchResultMainLink:hover h2 {
    text-decoration: underline;
}

.searchResultMainLink:visited h2 {
    color: blue;
}

.searchResults > span {
    margin-top: 6px;
    margin-bottom: 14px;
    display: block;
    color: gray;
}

.peopleAlsoAsk {
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 50px;
}

.peopleAlsoAsk h2 {
    padding: 10px;
}

.peopleAlsoAsk button {
    display: block;
    width: 105%;
    text-align: left;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid rgb(183, 183, 183);
    background-color: white;
}

.peopleAlsoAsk i {
    float: right;
    position: relative;
    right: 40px;
}

/* #endregion */

/* #region Bottom Bar */
.bottomBar {
    background-color: orange;
}
/* #endregion */